---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
---
<Layout title="Portafolio Alberto Samayoa.">
    <SectionContainer>
    <main class="px-2">
        <img  src="/mono.webp"
        style="width: fit-content; height: fit-content; margin: 0 auto; margin-top: 50px;"  
        />
        <h1 class="text-5xl text-yellow-400 font-bold text-center mt-20">Apartado en progreso</h1>
        <p class="text-center mt-5 text-lg">Este apartado aun esta siendo creado por los monos</p>
    </main>
</SectionContainer>
</Layout>