---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Experiencia from '../components/Experiencia.astro';
import Social from '../components/Social.astro';
import Linkedin from '../icons/Linkedin.astro';
import GitHub from '../icons/GitHub.astro';
import Mail from '../icons/Mail.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-40">

			<img class="rounded-full size-15 mb-4"  src="https://media.licdn.com/dms/image/v2/D4E03AQH_OqqsPVUahA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1719897269744?e=2147483647&v=beta&t=VKG1xAusByQkzw0sbc9GLNJ-4H6-Ra6HFZkZx1kQX_E" alt="Alberto Samayoa Photo" />
		<h1 class=" text-6xl font-bold flex  flex-row gap-x-4 pb-6">Hola, soy <span class="text-purple-600">Alberto</span><a href="https://www.linkedin.com/in/alberto-samayoa-385207281/" target="_blank" rel="noopener noreferrer">
			<div class=" flex justify-center items-center py-5"><Badge>Disponible para trabajar</Badge></div></a>
		</h1>
		<h2 class="text-xl text-opacity-80 mb-4"><span class="text-yellow-400">Desarrollador Web y entusista de la Creacion y Edicion de Multimedia</span>, vivo en Queretaro, Mexico, amo contruir cosas para la web y compartir lo que he aprendido. </h2>

		<nav class="flex flex-row gap-4 mb-20 py-4">
				<Social href="https://www.linkedin.com/in/alberto-samayoa-385207281/">
					<Linkedin class="size-7"/>
					LinkedIn
				</Social>
				<Social href="https://github.com/Sama7u7">
					<GitHub class="size-7"/>
					GitHub
				</Social>
				<Social href="mailto:samayoa2002@proton.me">
					<Mail class="size-7"/>
					samayoa2002@proton.me
				</Social>
			
		</nav>
		<section class="mb-20">
			<h2 class="text-3xl font-bold mb-4 py-10">Experiencia</h2>
		<Experiencia />
		</section>


		<section  class="mb-20">
			<h2 class="text-3xl font-bold mb-4 py-10">Proyectos</h2>
			<p>
				I work in projects  that involve web development, design, and digital marketing. I'm always looking for new challenges and opportunities to learn and grow.
			</p>
			<p>Here are some projects were I'm work in the past:</p>
		</section>


		</section>
	</main>
</Layout>

