---
import ExperienciaItem from "./ExperienciaItem.astro";
const  EXPERIENCIA = [
{
        title: 'Residente en Proyecto de Desarrollo de Software y hardware',
        date: 'Periodo Agosto - Diciembre, 2024 ',
        description: 'Realice un proyecto de desarrollo de software y hardware en el Centro de Investigación en Ciencia Aplicada y Tecnología Avanzada (CICATA), donde en un proyecto colaborativo y multidiciplinario, se implemento el uso de microntroladores (ESP32) y se desarrollo una pagina web que facilita el monitorero y control de los datos obtenidos.',
        link: '#proyectos',
        linkText: 'Ver proyecto',
        isNew: true
    },
    {
        title: 'Tecnico en Sistemas',
        date: 'Periodo Marzo - Diciembre, 2023',
        description: 'Técnico en sistemas y asesor en robótica y programación web en el Departamento de Tecnologías Educativas y Procesos Digitales para el Colegio de Bachilleres de Chiapas.',
        link: '#',
        linkText: '',
        isNew: false
    }
]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700 mb-10 ml-6">
    
    
    {
        EXPERIENCIA.map((experiencia) => (
        <li class="mb-10 ms-6">
        <ExperienciaItem {...experiencia} />
        </li>
        ))
    }
</ol>



