<header class="flex justify-between items-center py-10 w-[1120px] mx-auto">
<span></span>
    <nav class="flex flex-row gap-x-10 opacity-70">
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
    </nav>
</header>