<header class="flex flex-col sm:flex-row justify-center items-center px-4 sm:px-10 py-4 w-full max-w-[1120px] mx-auto">
    <span></span>
    <nav class="flex flex-row gap-x-4 sm:gap-x-10 opacity-70">
        <a href="/">Home</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="/404/">Blog</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>
